@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
#root {
  width: 620px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.493);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.allQuotes{
  border: 2px solid #92929211;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 14px;
  box-shadow: 2px 2px 10px #0000001a;
}
.author{
  font-weight: 500;
  font-size: 12px;
}
h1 {
  font-family: 'Bagel Fat One', cursive;
  font-size: 4.5em;
  line-height: 1.1;
  color: rgba(172, 255, 47, 0.658);
  border-radius: 5px;
  padding: 10px;
}
.new-task{
  border: 2px solid #92929211;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  box-shadow: 2px 2px 10px #0000001a;
}
.type-new-task{
  width: 520px;
  height: 28px;
  border-radius: 5px;
  border:solid 2px #0000001a;
}
.btn{
  border-radius: 8px;
  font-weight: 700;
  color: white;
  background-color: rgba(172, 255, 47, 0.658);
  border: solid 2px rgba(172, 255, 47, 0.658);
  font-size: 20px;
  margin-left: 20px;
  padding: 2px 10px;
  height: 32px;
}
.btn:hover{
  color:rgba(172, 255, 47, 0.658);
  background-color: transparent;
  border: solid 2px rgba(172, 255, 47, 0.658);
  cursor: pointer;
}
/*
.task-bar{
  height:40px;
  border: 2px solid #92929211;
  border-radius: 5px;
  padding:16px;
  box-shadow: 2px 2px 10px #0000001a;
}
*/
ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 2px solid #92929211;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  box-shadow: 2px 2px 10px #0000001a;
}
li{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #92929211;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  font-size: 15px;
}

.icons{
 font-size: 16px;
 position: absolute;
 margin-left: 555px;
 color:rgba(0, 0, 0, 0.493);
}
.icons:hover{
  color: rgba(172, 255, 47, 0.658);
  cursor: pointer;
}
.fa-quote-left{
  color: rgba(172, 255, 47, 0.658);
  font-size: 24px;
  transform: translateX(-280px)translateY(10px);
}
.fa-quote-right{
  color: rgba(172, 255, 47, 0.658);
  font-size: 24px;
  transform: translateX(280px)translateY(-10px);
}

/*responsive*/

@media (max-width: 480px){
  #root{
    align-items: center;
    width: 320px;
  }
  h1 {
    font-size: 3.5em;
  }
  .new-task{
    width: 320px;
  }
  .type-new-task{
    width: 300px;
  }
  .btn{
    margin-top: 2px;
  }
  ul{
    width: 330px;
  }
  .icons{
   margin-left: 280px;
  }
  .allQuotes{
    width: 330px;
  }
  .fa-quote-left{
    color: rgba(172, 255, 47, 0.658);
    font-size: 24px;
    transform: translateX(-150px)translateY(10px);
  }
  .fa-quote-right{
    color: rgba(172, 255, 47, 0.658);
    font-size: 24px;
    transform: translateX(150px)translateY(-10px);
  }
}